* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: auto !important;
    padding: 0 !important;
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: rgba(150, 150, 150, 0.35);
        border-radius: 6px;
        border: 2px solid transparent;
        background-clip: content-box;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(150, 150, 150, 0.6);
    }
}

